<div class="main-container">
    <h1>Welcome to the site!</h1>
    <p>
        Take a look at the <a href="https://github.com/larsonjj/generator-yeogurt#yeogurt-generator---">documentation</a> and start mixing up something awesome.
    </p>
    <p>
        <img src="/images/yeogurt-swirl.png" width="75px" class="logo" />
    </p>
    <p class="links">
        <a href="/docs/styleguide/index.html">Styleguide</a>
        <a href="/docs/api/index.html">API</a>
    </p>
</div>
<code class="version">v0.12.3</code>
